[Unit]
Description=simple go web server
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/web-server

[Install]
WantedBy=multi-user.target
